body {
	background:#e5e5e5;
	font-family: Helvetica, Arial;
}

a, a:visited {
	color:#0164df;
	text-decoration:none;
}
a:hover {
	color:#3399ff;
}
h1, h2, h3, h4, h5 {
	color:#474747;
}
#section_nav h1 {
	margin:0 0 5px 0;
	display:inline-block;
}
#section_nav h2 {
	font-size:30px;
	line-height:7px;
	margin:0 0 5px 0;
	display:inline-block;
}
#section_nav .here {
	display:inline-block;
	vertical-align:bottom;
}
#section_nav .here h1 a, #section_nav .here h2 a  {
	display:inline-block;
	border-left:1px solid #e5e5e5;
	border-top:1px solid #e5e5e5;
	border-right:1px solid #e5e5e5;
	padding-left:3px;
	padding-right:3px;
	color:#474747;
}
#section_nav .here h2 a {
	line-height:27px;
}

section p {
	font-weight:200;
	margin:0 0 5px 10px;
}
h5 {
	font-size:10px;
	text-transform:uppercase;
	font-style:italic;
	color:#444;
	font-weight:400;
}
h4 {
	font-size:11px;
}
.column {
	display:inline-block;
}
header {
	width:900px;
	height:100px;
	background:#ccc;
	margin:0 auto 0 auto;
	position:relative;
	overflow:hidden;
}
header .title {
	position:absolute;
	bottom:-99px;
	left:10px;
}
header .title h1 {
	font-size:112px;
	color:#909090;
}
.signin_form {
	width:350px;
	position:absolute;
	bottom:5px;
	right:-10px;
}

.signin_form label{
	display:block;
	font-size:11px;
	font-weight:100;
	margin-left:2px;
	color:#474747;
}
.signin_form input {
	width:130px;
	padding:2px;
}
.signin_form .standard_button {
	display:inline;
	width:50px;
}
#session_submit {
	display:inline;
	width:50px;
}


section .signin_form {
	position:relative;
	width:280px;
	padding:20px;
	margin: 150px auto 0 auto;
	border:1px solid #e5e5e5;
	text-align:center;
}
section .signin_form h1 {
	margin-top:0px;
	margin-bottom:10px;
}
section .signin_form label {
	display:block;
	margin-top:10px;
}
section .signin_form input {
	display:block;
}
section #session_submit {
	display:inline;
	width:100%;
	margin-top:5px;
}
nav {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

nav ul {
	margin:0px 0px 0 0 ;
	padding:0px;
}

nav li {
	color:#fff;
	padding:6px 3px 18px 3px;
	list-style:none;
	float:left;
	display:inline-block;
	height:7px;
	position:relative;
	text-align: center;
	font-family: "Helvetica";
	font-weight:100;
	font-size: 16px;
}
section {
	width:880px;
	min-height:500px;
	padding: 10px;	
	background:#fff;
	margin:0 auto 0 auto;
	overflow:hidden;
}
.flash {
	padding:10px;
	font-size:12px;
}
.success {
	background:#E6EFC2;
	color:#529214;
	border:1px solid #C6D880;
}
.notice {
	background:#FFF6BF;
	color:#817134;
	border:1px solid #FFD324;
}
.error {
	background:#FBE3E4;
	color:#D12F19;
	border:1px solid #FBC2C4;
}
.info_form {
	float:right;
	width:370px;
	margin-top:90px;
}
.info_form h1 {
	text-align:center;
}
.info_form p {
	margin-left:0;
	margin-bottom:5px;
	margin-right:10px;
	line-height:24px;
	text-align:center;
}
/* Create User Form */

.new_user_form h1 {
	text-align:center;
	margin-bottom:0px;
}
#new_user, .edit_user {
	width:370px;
	position:relative;
	float:right;
}
#new_user {
	border-top:1px solid #e5e5e5;
	padding-top:20px;
}
#new_user .flash {
	margin-bottom:20px;
}
.edit_user {
	float:left;
	margin-top:10px;
}
#new_user label, .edit_user label {
	display:inline-block;
	margin:7px 5px 8px 0px;
	float:right;
	font-weight:600;
	color:#474747;
}
#new_user input, .edit_user input {
	float:right;
	padding:2px;
	font-size:14px;
	margin-right:1px;
}
input:focus {
	outline:none;
}
#new_user #user_submit, .edit_user #user_submit {
	width:100%;
	padding:8px;
	margin-top:10px;
	margin-right:0px;
}

/* Standard Buttons */
.standard_button {
	position:relative;
	display:inline;
	padding:6px 13px 13px 13px;
	margin: 0px 3px 0px 0px;
	color: #474747;
	font-size:12px;
	font-weight:500;
	background-color: #e5e5e5;
	border: 1px solid #8f8f8f;
}
.standard_button:hover {
	background:#cbc9c9;
	border: 1px solid #474747;
}
.standard_button span{
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
}

/* User Pages */
.user_tile {
	width:395px;
	border:1px solid #e5e5e5;
	margin-bottom:5px;
	display:inline-block;
	padding:20px;
}
.user_tile .timestamp {
	font-weight:200;
}
.user_tile h1 {
	margin:0 0 15px 0;
}
/* Notes Pages */
#new_note, .edit_note {
	width:250px;
	margin-left:-5px;
	margin-top:-20px;
	display:inline-block;
	vertical-align:top;
	position:relative;
}
#new_note h1, .edit_note h1 {
	font-size:19px;
	margin-bottom:5px;
}
#new_note #note_content, .edit_note #note_content {
	outline:none;
	resize:none;
	height:100px;
	font-size:13px;
	width:100%;
}
#new_note #note_tag_list, .edit_note #note_tag_list {
	width:100%;
	font-size:13px;
	margin-bottom:10px;
}
#new_note .standard_button, .edit_note .standard_button {
	width:102%;
	padding:5px;
}
#new_note label, .edit_note label {
	font-weight:300;
	margin-left:3px;
}
#new_note .flash, .edit_note .flash {
	margin-bottom:5px;
}
/* Maps settings */
#map {
	height:600px;
	width:880px;
	display:inline-block;
}
.signed_out#map {
	width:480px;
	height:520px;
	margin:10px 0 -30px 10px;
}
.hidden {
	display:none;
}
.leaflet-popup-content p {
	line-height:13px;
	margin-bottom:-10px;
	font-size:14px;
}
.leaflet-popup-content h4 {
	margin-top:0px;
	margin-bottom:0px;
	font-weight:400;
}
.leaflet-popup-content h5 {
	margin-top:0px;
	margin-bottom:0px;
	font-weight:400;
}
/* Fixing button_to */
.button_to input {
	display:inline;
	background:none;
	border:none;
	color:inherit;
	font-size:inherit;
	padding:none;
}
.button_to input:hover {
	color:#0164df;
}
form.button_to {
	display:inline;
}
form.button_to div {
	background:red;
	width:0px;;
}

footer {
	width:875px;
	margin:0 auto 0 auto;
	background:#fff;
	padding: 0 15px 10px 10px;
	text-align:right;
	font-weight:100;
	font-size:13px;
}
