body {
	background:#e5e5e5;
	font-family: Helvetica, Arial;
}
a, a:visited {
	color:inherit;
	text-decoration:none;
}
a:hover {
	color:#0164df;
}
header {
	width:900px;
	height:100px;
	background:#ccc;
	margin:0 auto 0 auto;
	position:relative;
}
nav {
	position: absolute;
	bottom: 0px;
	right: 10px;
}

nav ul {
	margin:0px 0px 0 0 ;
	padding:0px;
}

nav li {
	color:#fff;
	padding:6px 3px 18px 3px;
	list-style:none;
	float:left;
	display:inline-block;
	height:7px;
	position:relative;
	text-align: center;
	font-family: "Helvetica";
	font-weight:100;
	font-size: 16px;
}
section {
	width:860px;
	padding: 20px;	
	background:#fff;
	margin:0 auto 0 auto;
}
.flash {
	padding:10px;
	font-size:12px;
	margin:5px;
}
.success {
	background:#E6EFC2;
	color:#529214;
	border:1px solid #C6D880;
}
.notice {
	background:#FFF6BF;
	color:#817134;
	border:1px solid #FFD324;
}
.error {
	background:#FBE3E4;
	color:#D12F19;
	border:1px solid #FBC2C4;
}