
<div class="thinner" id="map"></div>
<% content_for :map_javascript do %>
	<%= javascript_include_tag 'maps/show_note.js' %>
<% end %>

<%= render @notes %>
<div class="info_form thin">
	<h1><%=@user.username%></h1>
	<%= pluralize(@user.notes.count, "Note")%>
</div>