<div class="signed_out" id="map"></div>
<% content_for :map_javascript do %>
	<%= javascript_include_tag 'maps/basic.js' %>
<% end %>

<div class="info_form">
	<h1> About GeoNotes</h1>
	<p>GeoNotes is a service that allows its users to create location-based notes. Sign up today!</p>
	<p>The app was created by Josh Balloch as a demonstration of Rails, jQuery, and Leaflet.</p>
</div>