<div class="signed_out" id="map"></div>
<% content_for :map_javascript do %>
	<%= javascript_include_tag 'maps/basic.js' %>
<% end %>

<div class="info_form">
	<h1> Contact GeoNotes</h1>
	<p>This is just a trial app.. No contact info for now!</p>
</div>