<header>
	<nav>
		<ul>
			<li>
				<%= link_to "Home", root_path%>
			</li>
			<li>
				<%= link_to "Community", users_path %>
			</li>
			<li>
				<%= link_to "Other Links", "#"%>
			</li>
		</ul>
	</nav>			
</header>